[buildout]
extends =  versions.cfg
show-picked-versions = true
extensions =
    mr.developer

parts =
    instance
    test
    code-analysis
    createcoverage
    releaser
    i18ndude
    omelette
    robot
    npm-install
    grunt-compile
develop = .
find-links +=
    http://dist.plone.org/release/5.2.2
test-packages +=
    uwosh.oie.studyabroadtheme [test]

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow


[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/uwosh
flake8-exclude = docs,*.egg.,omelette
flake8-max-complexity = 15
return-status-codes = True


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = collective.xmltestreport
eggs =
    ${instance:eggs}
    ${buildout:test-packages}
defaults = ['--auto-color', '--auto-progress']


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[npm-install]
recipe = plone.recipe.command
command = cd ${buildout:directory}; npm install .; cd ${buildout:directory}/src/uwosh/studyabroadtheme/theme; npm install .

[grunt-compile]
recipe = plone.recipe.command
command = cd ${buildout:directory}; grunt compile
update-command = cd ${buildout:directory}; grunt compile